 @import "./login/login";
 @import "./Reserva/reserva";
@import "./FiltrarCiudad/filtrarCiudad";
@import "./Reserva/reservaCliente";
@import "./Reserva/mesas";
 h1 {
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#header {
    display: flex;
    border: 6px solid goldenrod;
    align-content: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 100px;
    background-color: #702323;
    flex-direction: row;
}
h3 {
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
p {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}