.cajaLogin {
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: beige;
    border: 4px solid goldenrod;
    margin-top: 10px;
    box-shadow: 1px 1px 10px gray;
}

.bloqueTexto {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.containerPrincipal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 100px;
    flex-direction: column;
}

.botonIngresar {
    height: 40px;
    border-radius: 3px;
    background-color: beige;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

input {
    height: 20px;
}

a {
    text-decoration: none;
}

.botonI {
    cursor: pointer;
    width: 100px;
    height: 40px;
    border: 2px solid;
    border-color: #913539;
    border-radius: 10px;
    margin: 0px;
}

.input1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input3 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input4 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.input5 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


h1 {
    font-size: 40px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: goldenrod;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#header {
    display: flex;
    border: 6px solid goldenrod;
    align-content: center;
    text-align: center;
    align-content: center;
    justify-content: center;
    height: 100px;
    background-color: #702323;
    flex-direction: row;
}

h3 {
    font-size: 30px;
    color: black;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 500px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#ReservaCliente {
    background: url(./img/reserva.jpg);
    height: 100%;
    background-size: cover;
}

input {
    width: 150px;
}

.inputTipoPago {
    width: 155px;
    height: 25px;
}

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}



.cerrarSesion {
    margin-right: 10px;
    background-color: goldenrod;
    color: white;
    height: 50px;
    width: 150px;
}

#bodyLogin {
    background: #702323;
}

.login {
    color: white;
}

.cartaCena>h2 {
    color: goldenrod;
    border: 4px solid black;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: goldenrod;
    border-left: 0px;
    border-right: 0px;
    background-color: #702323;
    font-style: italic;
}

.carta>h2 {
    color: white;
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-left: 0px;
    border-right: 0px;
    font-style: italic;
}

.carta {
    background-image: url(./img/restaurante.jpg);
    width: 250px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    border: 1px solid goldenrod;
    background-repeat: no-repeat;
    background-position: center;
    transition: all 400ms ease;
    cursor: pointer;
    border-radius: 5px;
    font-size: 25px;
}

.carta:hover {
    box-shadow: 1px 1px 15px black;
    transform: translateY(-3%);
}

.fontdoro {
    text-decoration: none;
    color: goldenrod;
}

.verHistorial {
    margin-right: 10px;
    background-color: goldenrod;
    color: white;
    height: 50px;
    width: 150px;
}

.verHistorial,
.cerrarSesion {
    justify-content: center;
    display: flex;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.bodyFiltro {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    gap: 50px;
    margin-top: 50px;
}

.cartas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}

#tucson{
    background: url(./img/tucson.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 100%;
}

#farola{
    background: url(./img/farola.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
}

#parolaccia{
    background: url(./img/parolaccia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
}

#kentucky{
    background: url(./img/kentucky.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
}

#bigpons{
    background: url(./img/bigpons.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 85%;
}

#cauce{
    background: url(./img/cauce.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: 70%;
}