#ReservaCliente {

  .containerPrincipal {
    width: 80%;

    .cajaLogin {
      width: 70%;

      #reservaForm {
        width: 100%;

        .bloqueTexto {

          .input1 {
            width: 40%;
            display: flex;
            justify-content: space-evenly;
            button{
              background-color: rgba(0, 132, 255, 0.907);
              color: white;
              border: none;
              border-radius: 10px;
              padding: 10px;
            }
          }
        }
        .input6{
          width: 40%;
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }
    }
  }
}