// style.scss
#filtrarCiudad {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
    padding: 20px;
    h1 {
        text-align: center;
        margin-bottom: 20px;
        font-size: 60px;
    }
    
    .caja {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 100%;
        flex-wrap: wrap;
        .city-card {
            background-color: #007bff;
            color: #fff;
            padding: 20px;
            width: 180px;
            height: 300px;
            text-align: center;
            border-radius: 8px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            cursor: pointer;
            align-items: center;
            transition: background-color 0.3s ease;
            font-size: 25px;
            img{
                background-size: cover;
               object-fit: cover;
               width: 220px;
               height: 80%;
            }
            &:hover {
                background-color: #0056b3;
            }
        }
    }
}


