// style.scss
#filtrarCiudad {
    font-family: Arial, sans-serif;
    background-color: #eeeeee;

    h1 {
        text-align: center;
        font-size: 60px;
        color: #333;
    }
    
    .caja {
        display: flex;
        justify-content: center;
        gap: 20px;
        flex-wrap: wrap;
        margin-bottom: 20px;
        height: 60vh;
        flex-wrap: wrap;
        h2{

            color: black;
        }
        .city-card {
            background-color: #FFFFFF;
            color: black;
            padding: 20px;
            width: 180px;
            height: 200px;
            text-align: center;
            border-radius: 8px;
            display: flex;
            justify-content: space-evenly;
            flex-direction: column;
            cursor: pointer;
            align-items: center;
            transition: background-color 0.3s ease;
            font-size: 25px;
            img{
                background-size: cover;
               object-fit: cover;
               width: 220px;
               height: 80%;
            }
            &:hover {
                background-color: #E7E8E8;
            }
        }
    }
}


